@media(max-width: 767px) {
    .title {
        font-size: 30px;
    }
    body{
        padding: 50px 0px;
    }
    .ayahs {
        display: block;
        text-align: right;
    }
    .ayahs audio {
        max-width: 100%;
        width: 100%;
    }
    .ayahs p {
        text-align: right;
        max-width: 100%;
        display: block;
    }
    .surahCard .card-title {
        margin-bottom: 40px;
    }
}